@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,500&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Raleway', sans-serif; */

/* ......... universal.................... */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/* ......... universal end .................... */
/* ....................styel........... */
a{
    text-decoration: none;
    display: inline-block;

}
ul li{
    list-style-type:none;

}
.container{
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;

}
.header-section{
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.header-section .container{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header-munu .munu{
    display: flex;
    
}
.header-munu .munu li a{
    font-family:'Raleway', sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: white;
    padding: 14px 30px;
    text-transform: uppercase;
}
.header-munu .munu li:last-child a{
    padding-right: 0;
}


.banner-section{
    background-image: url(./top-background.png);
background-size: cover;
    background-repeat: no-repeat;
   
    padding-top: 260px;
    padding-bottom: 160px;
 
}
.banner-section .container h1{
    font-size: 65px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif; 
    color: white;
    line-height: 68px;
    text-transform: uppercase;
    text-align: center;
    padding: 0 80px;


}
.banner-section .container p{
    font-size: 22px;
    font-weight: 400;
    font-family:'Raleway', sans-serif;
    color: white;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 80px; 
    padding: 0 110px;

}
.banner-section .container a{ 
    font-size: 13px;
    background-color: #E84545;
       font-family:'Raleway', sans-serif;
       padding: 20px 45px;
       color: white;
       border-radius: 2px;
     position: absolute;
     left: 50%;
     transform: translateX(-50%) ;
     }

/* ................... styel end........... */
/* .....service-section-start..... */
.service-section{
    padding: 120px 0;
}
.service-section .container{
    display: flex;
    flex-wrap: wrap;
    row-gap: 68px;
    column-gap: 5%;

}
.service-section .container .service-item{
    max-width: 30%;

}
.service-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 26px;

}
.service-section .container .service-item h3{
    font-family:'Raleway', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 36px;
    margin-bottom: 26px;


}
.service-section .container .service-item p{
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    color: #989898;
} 

 /* ..........gallery-section................ -- */

.gallery-section{
    display: flex;
    flex-wrap: wrap;
    column-gap: 1px;
    row-gap: 1px;
  

}
.gallery-section .gallery-item{
    max-width: calc(25% - 1px);
    position: relative;
    

}
.gallery-section .gallery-item img{
    width: 100%;
    height: 100%;

}
.overlay{
    height: 100%;
    width: 100%;
    /* background: #DA4747; */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
   transition: 0.4s background ease-in-out;

}
.gallery-section .gallery-item:hover .overlay{
    background: rgba(218, 71, 71,0.7);  
}
.gallery-content{
    z-index: 9;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
transition: 0.4s all ease-in-out;
}
.gallery-content h3{
    font-family:'Raleway', sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    text-align: center;
}
.gallery-content p{
    font-family:'Raleway', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: white;
    text-align: center;
}
.gallery-section .gallery-item:hover .gallery-content{
    opacity: 1;
}
/* ................team section.................... */
.team-section{
    padding: 100px 0;

}.team-section .container{
    display: flex;
    justify-content: space-between;

}
.team-member{
    max-width: calc(25% - 22.5px);
}
.team-member h3, .team-member p{
    font-family:'Raleway', sans-serif;

}
.team-member h3{
    font-size: 22px;
    color: #2D3033;
    margin-top: 30px;
    margin-bottom: 16px;

}
.team-member p:first-of-type{
    font-size: 13px;
    text-transform: uppercase;
color: #E84545;

}
.team-member p:last-of-type{
font-size: 14px;
color: #898E94;
margin: 30px 0; 

}
.team-member-socil-icon{
    display: flex;
    column-gap: 4px;

}
.team-member-socil-icon a{ 
    height: 40px;
    width: 40px;
    border: 1px solid #E8ECEE;
    display: flex;
    justify-content: center;
    align-items: center;
}
.team-member-socil-icon a i{
    color: #C6CACC;

}



/* ............Testimonial Section............. */

.Testimonial-Section{
    background-color: #53354A;

}
.Testimonial-content{
display: flex;
}
.tc-iten{
width: 50%;
}
.Testimonial-image img{
    width: 100%;
    height: 100%;

}
.Testimonial-text p:first-of-type{
    font-size: 36px;
    font-style: italic;
    color: white;
padding-right: 210px;
}
.Testimonial-text p:last-of-type{ 
    font-size: 13px;
font-weight: 700;
    color: white;
    font-family:'Raleway', sans-serif;
    text-transform: uppercase;
    margin-top: 28px;
}
    
.Testimonial-text{
    padding-top: 115px;
    padding-left: 80px;
}
.indi{
    display: flex;
    margin-top: 64px;
    margin-left: 200px;
    column-gap: 8px;

}
.indi-item{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #897583;

}
.indi .indi-item:nth-child(2){
background-color: white;
}
 /* ..............download...............  */

.download-section .container{
    width: 900px;
    
    display: block;
    text-align: center;
    margin-bottom: 100px;

}

.download-section .container h1{
    font-size: 28px;
    font-weight: 300;
    font-family:'Raleway', sans-serif ;
    margin-top: 100px;
    
    

}

.download-section .container p{
    font-size:13px;
    font-weight: 500;
    font-family:'Raleway', sans-serif ;
    margin-top: 25px;
    

}
.download-section .container a{
    border-radius: 1px;
    background-color: #E84545;
    padding: 18px 80px;
    font-family:'Raleway', sans-serif ;  
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    color: #fff;
    margin-top: 40px;  
    transition: 0.4s;
}
.download-section .container a:hover{
    cursor: pointer;
    font-size: 120%;
}
/* .......download end........... */





 
 /* ..............about-section...........  */
.about-section{
    background-color:#23253C ;
    
}
.about-section .container{
    width: 1200px;
    display: flex;
    padding-top: 70px;
    padding-bottom: 106px;
    
}
.about-section .container .location{
    width: 160px;
   
    text-align: center;
    margin-left: 150px;
 }
.about-section .container .location h3{
    font-size: 14px;
    font-weight: 400;
    font-family:'Raleway', sans-serif ;
    color: white;
    text-transform: uppercase;
}
.about-section .container .location p{
    font-size: 14px;
    font-weight: 400;
    font-family:'Raleway', sans-serif ;
    color: #696A71;
    margin-top: 22px;
    }
.about-section .container .share{
    width: 380px;
   
    text-align: center;
    margin-left: 100px;
    
}

.about-section .container .share h3{
    font-size: 14px;
    font-weight: 400;
    font-family:'Raleway', sans-serif ;
    color: white;
    text-transform: uppercase;    
    
}

.about-section .container .share a{
    
    height: 40px;
    width: 40px;
    border: 2px solid #e8ecee;
    padding-top: 10px;
    padding-left: 3px;
    margin-top: 22px;
}

.about-section .container .share a i{
    color: #fff;
    
}

.about-section .container .about{
    width: 400px;
    
    text-align: center;

}

.about-section .container .about h3{
    font-size: 14px;
    font-weight: 400;
    font-family:'Raleway', sans-serif ;
    color: white;
    text-transform: uppercase;
}
.about-section .container .about p{
    font-size: 14px;
    font-weight: 400;
    font-family:'Raleway', sans-serif ;
    color: #696A71;
    margin-top: 22px;
}
/* .............footer section.............  */ 

.footer-section{
    background-color: #1D1F32;
    padding-top: 29px;
    padding-bottom: 30px;
    
    padding-left: 400px;
    padding-right: 400px;
}
.footer-section .container{
    width: 350px;
    text-align: center;
    padding-top: 29px;
    padding-bottom: 29px;
}

.footer-section .container p{
    color: #808080;
    font-family:'Raleway', sans-serif ; 
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;

}

.footer-section .container i{
    color: red;
    
}
.footer-section .container a{
    color:#E4E4E8;
    font-family: 'Open Sans', sans-serif; 
    font-weight: 400;
    font-size: 14px;
}


/* =============== responsive1 ==============  */


/* ============Responsive Web Design============  */
@media screen and (max-width: 912px){
    /* ============Header Section ==============  */
    
        .header-menu{
            display:none;
        }
        .menu-icon{
            display: inline-block;
        }
       
         /* ==========Banner Section=========== */
    .banner-section .container-2 h1{
        font-size:40px;
        padding: 0 150px;
        line-height: 50px;
    
    }
    .banner-section .container-2 p{
        font-size: 18px;
        margin-top: 40px;
        margin-bottom: 50px;
        padding: 0 130px;
    }
     /* =========Team Section==========  */
     .team-section .container{
        display:flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .team-member{
        max-width: 50%;
        padding: 0 100px;
    }
    .team-member p:last-of-type{
        font-size: 14px;
        color: #787D84;
        margin-top: 25px;
        margin-bottom: 20px;
    }
    .team_social-icon{
        display: flex;
        column-gap: 4px;
        margin-bottom: 20px;
    
    }
    /* ==========Testimonial Section============  */

.testimonial-content{
    display: inline-block;
    text-align: center;

    }
    .tc-item{
        width: 100%;
    }
    
    .testimonial-image img{
        width: 100%;
        height: 100%;
    } 
    .testimonial-text{
        padding-top: 90px;
        padding-left: 70px;
    }
    .testimonial-text p:first-of-type{
        font-size: 30px;
        padding-right:50px;
    }
    .testimonial-text p:last-of-type{
        margin-top: 42px;
        padding-left: 35px;
        padding-right: 50px;
        
    }
    .indicator{
        display: flex;
        
        margin-top: 60px;
        padding-left: 150px;
        column-gap: 8px;
       
    }
}
/* =============== responsive2 ==============  */


@media screen and (max-width: 820px){
    .banner-section .container-2 h1{
        font-size:40px;
        padding: 0 100px;
        line-height: 50px;
    
    }
      /* ==========Service Section=========  */
    
      .service-section .container{
        display: flex;
        justify-content: center; 
        
        
    }
    .service-section .container .service-card{
        max-width:40%;
        padding: 0 30px;
    }
  /* =========Gallery Section==========  */
  .gallery-section{
    justify-content: center;
}

.gallery-section .gallery-item{
    max-width: 40%;
}
 /* ========Testimonial Section=========  */
 .indicator{
    display: flex;
    
    margin-top: 60px;
    padding-left: 100px;
    column-gap: 8px;
   
}

}